 html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
    margin: 0;
    padding: 0;
}
 body{
	background-color: #f4f5f6;
    color: black;
    font-size: 13px;
    line-height: 18px;
    font-family: Arial,Helvetica,sans-serif;
    overflow-x: hidden;
	
}
.image a, header, footer, nav, section, article, hgroup, figure {
    display: block;
}
*a {color: black;}

.page-header .container {
    position: relative;
}
.container-fluid, .container {
    max-width: 1310px;
}
.container-fluid, .container {
    margin-right: auto;
    margin-left: auto;
}

.colwrap .col1, .colwrap .col2, .colwrap .col3, .colwrap .col4 {
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    background-color: #fff;
    padding-top: 20px;
	
}
* {
    box-sizing: border-box;
    border: 0 none;
    list-style: none outside none;
    outline: 0 none;
    
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed",sans-serif;
    margin-bottom: 10px;
    position: relative;
    color: black;
}
.block-title{
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 8px;
	color: #867E7E;
	text-transform: uppercase;
}
#block-nw-home-featured-stories .related {
    font-size: 17px;
	font-weight: 700;
    line-height: 20px;
	color: black;
	padding: 5px;
	border: 1px solid #E2DCDC;
	border-width: 1px 0 1px 0;
	margin: 10px 0 10px 0;
}
#block-nw-home-featured-stories .related a{
    color: black;
	text-decoration: none;
	
}

#block-nw-home-featured-stories .related a:hover{
	color: red;
    text-decoration: none;
}
#block-nw-home-featured-more .image{
	float:left; 
    margin: 5px 7px 7px 0;
	
}
#block-nw-home-featured-stories .category{
	display: block;
	position: absolute;
    font: bold 17px/16px "Roboto Condensed",sans-serif;
	margin-top: 200px;
	width: auto;
	height:29px;
	color: red;
	padding: 7px 15px 9px;
    background-color: rgba(255,255,255,.9);
	
	
}
#block-nw-home-featured-stories .category a{
	color: red;
}
#block-nw-home-featured-stories .category a:hover{
	text-decoration: none;
}
#block-nw-home-featured-stories h3>a {
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	font: "Roboto Condensed",sans-serif;
	color: black;
} 
#block-nw-home-featured-story .category{
	display: block;
	position: absolute;
    font: bold 17px/16px "Roboto Condensed",sans-serif;
	margin-top: 360px;
	width: auto;
	height:29px;
	color: red;
	padding: 7px 15px 9px;
    background-color: rgba(255,255,255,.9);
}
#block-nw-home-featured-story .category a{
	color: red;
}
#block-nw-home-featured-story .category a:hover{
	text-decoration: none;
}
#block-nw-home-featured-story h2>a {
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	font: "Roboto Condensed",sans-serif;
	color: black;
} 
#block-nw-home-featured-story h2>a:hover {
	text-decoration: underline red;
}
#block-nw-home-featured-stories h3>a:hover {
	text-decoration: underline red;
} 
#block-nw-home-featured-story .related {
    font-size: 17px;
	font-weight: 700;
    line-height: 20px;
	color: black;
	padding: 5px;
	border: 1px solid #E2DCDC;
	border-width: 1px 0 1px 0;
	margin: 10px 0 10px 0;
}
#block-nw-home-featured-story .related a{
    color: black;
	text-decoration: none;
}

#block-nw-home-featured-story .related a:hover{
	color: red;
    text-decoration: none;
}
#block-nw-home-featured-more .clearfix{
	float:right; 
    border: 1px solid #E2DCDC;
	border-width: 1px 0 0 0;
	padding: 20px 0 20px 0;
	
}
#block-nw-home-featured-more .clearfix>h4{
	font-size: 17px;
    line-height: 20px;
	font-weight: 550;
}
#block-nw-home-featured-more .clearfix a{
	color: black;
}
#block-nw-home-featured-more .clearfix a:hover{
	text-decoration: underline red;
}
/*    opion column                                                     */
#block-nw-opinion .row{
	border: 1px solid #E2DCDC;
	border-width: 0 0 1px 0;
	padding: 0 0 15px 0; 
    margin: 0 10px 10px 0;
}
#block-nw-opinion .row:last-child{
	padding: 0 0 15px 0; 
    margin: 0 10px 10px 0;
	border-width: 0 0 1px 0;
	border: 1px solid rgb(255, 255, 255);
}
#block-nw-opinion .info a{
	color: black;
	font-size: 17px;
	font-weight: 700;
	line-height: 21px;
	font-family: "Roboto Condensed", sans-serif;
	
}
#block-nw-opinion .info a:hover{
	color: red;
    text-decoration: none;
}
#block-nw-opinion .byline{
	font-size: 14px;
	font-weight: 700;
}
#block-nw-subfeatured .block-title a{
	color: #867E7E;
}
#block-nw-subfeatured .block-title a:hover{
	text-decoration: none;
}
#block-nw-subfeatured .row{
	border: 1px solid #E2DCDC;
	border-width: 0 0 1px 0;
	padding: 0 0 15px 0; 
    margin: 0 10px 10px 0px;
}
#block-nw-subfeatured .col-5 a>img{
	margin-left: -15px;
}
#block-nw-subfeatured .info a{
	color: black;
	font-size: 17px;
	font-weight: 700;
	line-height: 21px;
	font-family: "Roboto Condensed", sans-serif;
}
#block-nw-subfeatured .row:last-child{
	padding: 0 0 15px 0; 
    margin: 0 10px 10px 0;
	border-width: 0 0 1px 0;
	border: 1px solid rgb(255, 255, 255);
}
#block-nw-subfeatured .info a:hover{
	color: red;
    text-decoration: none;
}
.n-title{
	padding-top: 15px;
	//padding-bottom: 220px;
}
#block-fusion-newsletters-fusion-newsletter-signup .n-title h3{
	font-size: 24px;
	font-weight: bold;
}
#block-fusion-newsletters-fusion-newsletter-signup img{
	margin: 15px 0 0 20px;
}
.newsletter-signup {
	background-color: #f4f5f6;
	padding-bottom: 20px;
	
}
.lk{
	margin-left: 20px;
	font-size: 20px;
	background-color: rgb(102, 102, 102);
	color: rgb(255, 255, 255);
	padding: 7px;
}
.newsletter-signup a:hover{
	text-decoration: none;
	background-color: #ABA4A4;
	color: white;
}
.lkk{
	font-size: 14px;
	color: black;
}
.lkk a{
	margin-top: 20px;
	color: black;

}
.newsletter-signup a:last-child:hover{
	text-decoration: none;
	background-color:  #f4f5f6;
	color: black;
}
#n-title{
	border: 1px solid #E2DCDC;
	border-width: 0 0 1px 0;
	padding: 0 0 5px 0; 
    margin: 0 0 10px 0;
	
}
#n-title img{
	float: right;
	margin-right: 20px;
}
#n-title h3{
	margin-left: -30px;
	color: black;
	font-size: 24px;
	font-weight: 700;
	line-height: 21px;
	font-family: "Roboto Condensed", sans-serif;
}

#magazine .category{
	display: block;
	position: absolute;
    font: bold 17px/16px "Roboto Condensed",sans-serif;
	margin-top: -29px;
	width: auto;
	height:29px;
	padding: 7px 15px 9px;
    background-color: rgba(255,255,255,.9);
}
#magazine .category a{
	color: red;
}
#magazine .category a:hover{
	text-decoration: none;
}
.lk1 {
	margin-right: -3px;
	padding: 10px 12px 10px 75px;
	background-color: #f4f5f6;
	font-size: 20px;
}
.lk1:hover{
	background-color: #BDB4B4;
}
.lk1 a{
	color: black;
}
.lk1 a:hover{
	text-decoration: none;
}
#magtop .image, .category{
	margin-bottom: 15px;
}
.mag-cat{
	font-size: 18px;
	font-weight: 500;
	padding: 5px;
	background-color: #f72210;
	color: white;
	text-transform: uppercase;
}
.cat{
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.cat a{
	color: red;
}
.cat a:hover{
	text-decoration: none;
}
#magbottom .image, .category{
	margin-bottom: 15px;
}
.article-link, .cover {
	color: black;
	font-size: 19px;
	font-weight: 700;
	font-family: "Roboto Condensed", sans-serif;
}
.article-link a{
	color: black;
}
.article-link a:hover{
	text-decoration: none;
	border-bottom: 2px solid red;
}
#bigShort {
	display: block;
	position: absolute;
    font: bold 17px/16px "Roboto Condensed",sans-serif;
	margin-top: -47px;
	width: auto;
	padding: 7px 15px 9px;
    background-color: red;
	color: white;
	text-transform: uppercase;
}
.cover a{
	color: black;
}
.cover a:hover{
	text-decoration: none;
	border-bottom: 2px solid red;
}
#n-title1{
	border: 1px solid #E2DCDC;
	border-width: 0 0 1px 0;
	padding: 0 0 5px 0; 
    margin: 0 0 10px 0;
	
}
#n-title1 img{
	float: right;
	margin-right: 20px;
	margin-top: 15px;
}
#n-title1 h3{
	margin-left: -30px;
	color: black;
	font-size: 24px;
	font-weight: 700;
	line-height: 21px;
	font-family: "Roboto Condensed", sans-serif;
}
#block-nw-editors-pick .category{
	display: block;
	position: absolute;
    font: bold 17px/16px "Roboto Condensed",sans-serif;
	margin-top: 238px;
	width: auto;
	height:29px;
	color: red;
	padding: 7px 15px 9px;
    background-color: rgba(255,255,255,.9);
}
#block-nw-editors-pick .category a{
	color: red;
}
#block-nw-editors-pick .category a:hover{
	text-decoration: none;
}
#block-nw-editors-pick h3{
	color: black;
	font-size: 19px;
	font-weight: 700;
	margin-top: 20px;
}
#block-nw-editors-pick h3>a{
	color: black;
}
#block-nw-editors-pick h3>a:hover{
	text-decoration: none;
	border-bottom: 2px solid red;
}
#n-title2{
	border: 1px solid #E2DCDC;
	border-width: 0 0 1px 0;
	padding: 0 0 5px 0; 
    margin: 0 0 10px 0;
}
#n-title2 img{
	float: right;
	margin-right: 20px;
	//margin-top: 5px;
}
#n-title2 h3{
	margin-left: -30px;
	font-size: 24px;
	font-weight: 700;
	line-height: 21px;
	font-family: "Roboto Condensed", sans-serif;
}
#n-title2 h3>a{
	color: black;
}
#n-title2 h3>a:hover{
	text-decoration: none;
}
.count-link{
	display: block;
	position: absolute;
    font: bold 24px "Roboto Condensed",sans-serif;
	margin-top: -33px;
	padding: 5px 15px 5px 15px;
    background-color: rgba(255,255,255,.9);
	color: red;
}
.block-title1 {
	border-top: 1px solid #E2DCDC;
	margin-top: 25px;
	padding: 25px 0 10px 0;
	font-size: 24px;
	color: red;
}
.block-title1 a{
	color: red;
}
.block-title1 a:hover{
	text-decoration: none;
}
#block-nw-section-picks article>h4{
	color: black;
}
block-nw-section-picks .sp h4{
	color: black;
}

.help{
	border: 1px solid #E2DCDC;
	border-width: 0 0 1px 0;
	padding: 0 0 15px 0; 
}
.help:last-child{
	padding: 0 0 15px 0; 
    border-width: 0 0 1px 0;
	border: 1px solid rgb(255, 255, 255);
}
#block-nw-section-picks .info a{
	color: black;
	font-size: 17px;
	font-weight: 700;
	line-height: 21px;
	font-family: "Roboto Condensed", sans-serif;
	
}
#block-nw-section-picks .info a:hover{
	color: red;
    text-decoration: none;
}
#block-nw-section-picks article a:last-child{
	
	color: black;
	font-size: 22px;
	font-weight: 700;
	line-height: 21px;
	font-family: "Roboto Condensed", sans-serif;
}

#block-nw-section-picks article a:last-child:hover{
	text-decoration-color: red;
	
}
#block-fusion-arbitrage-picture-galleries article a:last-child:hover{
	text-decoration-color: red;
	color: black;
}
#block-fusion-arbitrage-picture-galleries article a:last-child:hover{
	text-decoration: none;
	color: red;
}
#block-nw-nw-footer-subscription-hp .block-title{
	color: #f72210;
	font: bold 18px "Roboto Condensed",sans-serif;
	text-transform: uppercase;
}
#block-nw-nw-footer-subscription-hp .items{
	background-color: #f4f5f6;
	//margin-bottom: 15px;
}





#block-ibtmedia-top-stories-top-stories .block-title a{
	color: #867E7E;
	text-transform: uppercase;
}
#block-ibtmedia-top-stories-top-stories .block-title a:hover{
	text-decoration: none;
}
#most_popular_widget .row{
	border: 1px solid #E2DCDC;
	border-width: 1px 0 0 0;
	padding: 15px 0 15px 0; 
}
#most_popular_widget .item-link a{
	color: black;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	font-family: "Roboto Condensed", sans-serif;
	
}
#most_popular_widget .item-link a:hover{
	color: red;
    text-decoration: none;
}

@media screen and (min-width: 768px)
h3 {
    font-size: 24px;
    line-height: 24px;
}
@media screen and (min-width: 768px)
body {
    font-size: 15px;
    line-height: 20px;
}
@media screen and (min-width: 992px)
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}
@media screen and (min-width: 992px)
.colwrap .col3 {
    width: 29%;
}
@media screen and (min-width: 992px)
.colwrap .col4 {
    width: 71%;
}












/*// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
